@keyframes Show1 {
0%{bottom:0;width:50px;}
30%{bottom:70px;width:50px;}
60%{bottom:70px;width:250px;}
100%{bottom:70px;width:190px;}}

@keyframes Show2 {
0%{width:190px;bottom:70px;}
30%{width:250px;bottom:70px;}
70%{width:50px;bottom:70px;}
100%{width:50px;bottom:0;}}

@keyframes Liquid1 {
0%{d:path('M132.5 75C132.5 79.1421 129.142 82.5 125 82.5C120.858 82.5 117.5 79.1421 117.5 75C117.5 70.8579 120.858 67.5 125 67.5C129.142 67.5 132.5 70.8579 132.5 75Z');}
100%{d:path('M220 75C220 117.08 148.319 114.983 125 114.983C101.681 114.983 30 117.08 30 75C30 32.9182 101.681 35.0173 125 35.0173C148.319 35.0173 220 32.9365 220 75Z');}}

@keyframes Liquid2 {
0%{d:path('M220 75C220 117.08 148.319 114.983 125 114.983C101.681 114.983 30 117.08 30 75C30 32.9182 101.681 35.0173 125 35.0173C148.319 35.0173 220 32.9365 220 75Z');}
100%{d:path('M132.5 75C132.5 79.1421 129.142 82.5 125 82.5C120.858 82.5 117.5 79.1421 117.5 75C117.5 70.8579 120.858 67.5 125 67.5C129.142 67.5 132.5 70.8579 132.5 75Z');}}

@keyframes BlobA1 {
0%{opacity:1;d:path('M107.5 22.5C107.5 33.5457 73.5457 42.5 62.5 42.5C51.4543 42.5 42.5 33.5457 42.5 22.5C42.5 11.4543 51.4543 2.5 62.5 2.5C73.5457 2.5 107.5 11.4543 107.5 22.5Z');}
60%{opacity:1;d:path('M42.5 22.5C42.5 33.5457 33.5457 42.5 22.5 42.5C11.4543 42.5 2.5 33.5457 2.5 22.5C2.5 11.4543 11.4543 2.5 22.5 2.5C33.5457 2.5 42.5 11.4543 42.5 22.5Z');}
99%{opacity:1;d:path('M23 22.5C23 22.7761 22.7761 23 22.5 23C22.2239 23 22 22.7761 22 22.5C22 22.2239 22.2239 22 22.5 22C22.7761 22 23 22.2239 23 22.5Z');}
100%{opacity:0;d:path('M23 22.5C23 22.7761 22.7761 23 22.5 23C22.2239 23 22 22.7761 22 22.5C22 22.2239 22.2239 22 22.5 22C22.7761 22 23 22.2239 23 22.5Z');}}

@keyframes BlobB1 {
0%{opacity:1;d:path('M137.5 22.5008C137.5 43.55 103.546 42.5008 92.5 42.5008C81.4543 42.5008 47.5 43.55 47.5 22.5008C47.5 1.45083 81.4543 2.50083 92.5 2.50083C103.546 2.50083 137.5 1.46 137.5 22.5008Z');}
60%{opacity:1;d:path('M112.5 22.5C112.5 33.55 103.546 42.5 92.5 42.5C81.4543 42.5 72.5 33.5492 72.5 22.5C72.5 11.4492 81.4543 2.5 92.5 2.5C103.546 2.5 112.5 11.4592 112.5 22.5Z');}
99%{opacity:1;d:path('M93 22.5C93 22.7763 92.7761 23 92.5 23C92.2239 23 92 22.7762 92 22.5C92 22.2237 92.2239 22 92.5 22C92.7761 22 93 22.224 93 22.5Z');}
100%{opacity:0;d:path('M93 22.5C93 22.7763 92.7761 23 92.5 23C92.2239 23 92 22.7762 92 22.5C92 22.2237 92.2239 22 92.5 22C92.7761 22 93 22.224 93 22.5Z');}}

@keyframes BlobC1 {
0%{opacity:1;d:path('M142.5 22.5C142.5 33.5457 133.546 42.5 122.5 42.5C111.454 42.5 77.5 33.5457 77.5 22.5C77.5 11.4543 111.454 2.5 122.5 2.5C133.546 2.5 142.5 11.4543 142.5 22.5Z');}
60%{opacity:1;d:path('M182.5 22.5C182.5 33.5457 173.546 42.5 162.5 42.5C151.454 42.5 142.5 33.5457 142.5 22.5C142.5 11.4543 151.454 2.5 162.5 2.5C173.546 2.5 182.5 11.4543 182.5 22.5Z');}
99%{opacity:1;d:path('M163 22.5C163 22.7761 162.776 23 162.5 23C162.224 23 162 22.7761 162 22.5C162 22.2239 162.224 22 162.5 22C162.776 22 163 22.2239 163 22.5Z');}
100%{opacity:0;d:path('M163 22.5C163 22.7761 162.776 23 162.5 23C162.224 23 162 22.7761 162 22.5C162 22.2239 162.224 22 162.5 22C162.776 22 163 22.2239 163 22.5Z');}}

@keyframes BlobA2 {
0%{opacity:0;d:path('M23 22.5C23 22.7761 22.7761 23 22.5 23C22.2239 23 22 22.7761 22 22.5C22 22.2239 22.2239 22 22.5 22C22.7761 22 23 22.2239 23 22.5Z');}
1%{opacity:1;d:path('M23 22.5C23 22.7761 22.7761 23 22.5 23C22.2239 23 22 22.7761 22 22.5C22 22.2239 22.2239 22 22.5 22C22.7761 22 23 22.2239 23 22.5Z');}
60%{opacity:1;d:path('M42.5 22.5C42.5 33.5457 33.5457 42.5 22.5 42.5C11.4543 42.5 2.5 33.5457 2.5 22.5C2.5 11.4543 11.4543 2.5 22.5 2.5C33.5457 2.5 42.5 11.4543 42.5 22.5Z');}
100%{opacity:1;d:path('M107.5 22.5C107.5 33.5457 73.5457 42.5 62.5 42.5C51.4543 42.5 42.5 33.5457 42.5 22.5C42.5 11.4543 51.4543 2.5 62.5 2.5C73.5457 2.5 107.5 11.4543 107.5 22.5Z');}}

@keyframes BlobB2 {
0%{opacity:0;d:path('M93 22.5C93 22.7763 92.7761 23 92.5 23C92.2239 23 92 22.7762 92 22.5C92 22.2237 92.2239 22 92.5 22C92.7761 22 93 22.224 93 22.5Z');}
1%{opacity:1;d:path('M93 22.5C93 22.7763 92.7761 23 92.5 23C92.2239 23 92 22.7762 92 22.5C92 22.2237 92.2239 22 92.5 22C92.7761 22 93 22.224 93 22.5Z');}
60%{opacity:1;d:path('M112.5 22.5C112.5 33.55 103.546 42.5 92.5 42.5C81.4543 42.5 72.5 33.5492 72.5 22.5C72.5 11.4492 81.4543 2.5 92.5 2.5C103.546 2.5 112.5 11.4592 112.5 22.5Z');}
100%{opacity:1;d:path('M137.5 22.5008C137.5 43.55 103.546 42.5008 92.5 42.5008C81.4543 42.5008 47.5 43.55 47.5 22.5008C47.5 1.45083 81.4543 2.50083 92.5 2.50083C103.546 2.50083 137.5 1.46 137.5 22.5008Z');}}

@keyframes BlobC2 {
0%{opacity:0;d:path('M163 22.5C163 22.7761 162.776 23 162.5 23C162.224 23 162 22.7761 162 22.5C162 22.2239 162.224 22 162.5 22C162.776 22 163 22.2239 163 22.5Z');}
1%{opacity:1;d:path('M163 22.5C163 22.7761 162.776 23 162.5 23C162.224 23 162 22.7761 162 22.5C162 22.2239 162.224 22 162.5 22C162.776 22 163 22.2239 163 22.5Z');}
60%{opacity:1;d:path('M182.5 22.5C182.5 33.5457 173.546 42.5 162.5 42.5C151.454 42.5 142.5 33.5457 142.5 22.5C142.5 11.4543 151.454 2.5 162.5 2.5C173.546 2.5 182.5 11.4543 182.5 22.5Z');}
100%{opacity:1;d:path('M142.5 22.5C142.5 33.5457 133.546 42.5 122.5 42.5C111.454 42.5 77.5 33.5457 77.5 22.5C77.5 11.4543 111.454 2.5 122.5 2.5C133.546 2.5 142.5 11.4543 142.5 22.5Z');}}